* {
	all: unset;
}

window {
	padding: 8px;
	background-color: transparent;
}

.outer-box {
	padding: 4px 4px 0 4px;
	background-color: transparent;
}

.inner-box {
	padding: 2px 2px;
	background-color: rgba(0, 0, 0, 0.04);
	border-radius: 99999px;
}

.datetime {
	font-weight: 600;
}

@mixin material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
}

@mixin material-icons-filled {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 17.5px;
}

.topbar-button {
	background-color: transparent;
	border-radius: 99999px;
	padding: 4px 4px;
	transition: background-color 80ms ease;
	font-size: 17px;
}

.topbar-button:hover {
	background-color: rgba(255, 255, 255, 0.10);
}

.topbar-button:active {
	background-color: rgba(255, 255, 255, 0.05);
}

$material-red-500: #F44336;
$material-green-500: #4CAF50;
$material-amber-500: #FFC107;
$material-blue-500: #03A9F4;
$material-blue-600: #1E88E5;
$material-blue-800: #1565C0;
$material-blue-900: #0D47A1;
$material-grey-900: #212121;
$material-grey-800: #424242;

.topbar-icon-button-symbols-outlined {
	@include material-symbols-outlined;
}

.topbar-icon-button-icons-filled {
	@include material-icons-filled;
}

.topbar-button-red {
	color: $material-red-500;
}

.topbar-button-white {
	color: white;
}

.topbar-button-green {
	color: $material-green-500;
}

.topbar-button-amber {
	color: $material-amber-500;
}

.topbar-button-blue {
	color: $material-blue-500;
}

.topbar-start-container {
	padding: 2px 2px 2px 2px;
	background-color: rgba(0, 0, 0, 0.24);
	border-radius: 9999px;
}

.window-title-bar {
	color: rgba(255, 255, 255, 0.75);
	font-weight: 500;
	font-size: 13.5px;

	&:last-child {
		margin-right: 8px;
	}
}

.clock-container {
	background-color: rgba(0, 0, 0, 0.24);
	border-radius: 99999px;
	padding: 2px 8px;
	color: rgba(255, 255, 255, 0.72);
        font-weight: 500;
        font-size: 14px;
}

.vital-icon {
	@include material-symbols-outlined;
	font-size: 15px;
}

.vital-text {
	font-size: 11px;
	padding-bottom: 1px;
}

.vital {
	color: rgba(255, 255, 255, 0.75);
}

@mixin control-bar-color($color) {
	trough highlight {
		background-color: $color;
	}
}

.control-bar {
	background-color: #212121;
	border-radius: 99999px;
	min-height: 8px;
	padding-top: 1px;

	trough {
		border-radius: 9999px;
		min-height: 8px;
		min-width: 64px;
		border-radius: 9999px;

		highlight {
			border-radius: 9999px;
		}
	}

	&-text {
		font-size: 12px;
		color: #9E9E9E;
	}
}

.volume-control {
	$color: $material-blue-500;
	&-bar {
		@include control-bar-color($color);
	}
}

.player-control {
	background-position: center, center;
	background-size: cover;
	background-repeat: no-repeat, no-repeat;
	background-blend-mode: overlay;
	background-clip: border-box, border-box;
	background-origin: border-box;
	border-color: transparent;
	border-width: 0;
	border-radius: 99999px;
	padding: 0 0;
	margin: 2px 4px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.45);

	&-main-text {
		font-size: 11.5px;
		color: rgba(255, 255, 255, 0.7);

		&-box {
			margin: 0 2px;
		}
	}
}

.workspace-button {
	border-radius: 999999;
	background-color: rgba(255, 255, 255, 0.32);
	padding: 2px;

	&:hover {
		background-color: lighten($material-grey-800, 6%);
	}
	&:active {
		background-color: darken($material-grey-800, 6%);
	}
}

.workspace-button-active {
	background-color: rgba(255, 255, 255, 0.9);

	&:hover {
		background-color: rgba(255, 255, 255, 0.8);
	}
	&:active {
		background-color: rgba(255, 255, 255, 0.6);
	}
}

.workspace-indicators-box {
	&:last-child {
		margin-right: 8px;
	}
}
